
<!DOCTYPE html>
<html lang="ja">
<head>
	<meta charset="UTF-8">
	<title>ログイン</title>
    <link rel="stylesheet" href="/css/index.css">
</head>
<body>
<h1>ログイン</h1>
<form action="/auth/login" method="POST">
    <div class="row">
    <label for="email" class="label">
        メールアドレス
    </label>
    <input id="email" class="input" type="text" name="email" value="<%= email %>" placeholder="test@test.com">
    </div>
    <div class="row">
    <label for="password" class="label">
        パスワード
    </label>
    <input id="password" class="input" type="password" name="password" placeholder="">
    </div>
        <% if(error) { %>
        <div class="error"><%= error %></div>
        <% } %>
    <div class="center">
        <button class="submit" type="submit">送信</button>
    </div>
</form>
</body>
</html>